.footer {
  color: #7E7E82;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: space-around;
  flex-basis: 100%;
}
.footer__item {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer__item:nth-child(3) {
    text-align: right;
    flex-basis: 30%;
  }
  .footer__item:nth-child(1) {
    text-align: left;
    margin-left: 15px;
  }
  .footer__item:nth-child(2) {
    text-align: center;
  }
}
.footer-wrapper {
  border-top: 3px solid #D9FFF5;
  margin-top: 15px;
  padding: 15px;
}