$light-color: #7E7E82;
$button-color: #FF3E79;
$text-color: #1B1C21;
$line-color: #D9FFF5;
$bgColorSecond: #ffffff;
$bgColorMain: #F8F8F8;
$highlight-color: #41F6D7;
$border-input: #EAEAEA;
$input-text: #B5B6BC;